body {
  font-family: sans-serif;
  background-color: rgb(244, 244, 244);
  height: 50vh;
}

main {
  margin: 20vh auto;
  width: 30vw;
  height: 20vh;
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
}

button {
  color: #1e1e2f;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
